# -------------------------
# Maven
# -------------------------
/target/
/.mvn/wrapper/maven-wrapper.jar

# -------------------------
# IntelliJ IDEA
# -------------------------
.idea/
*.iml
*.iws
*.ipr
out/

# -------------------------
# Eclipse
# -------------------------
.classpath
.project
.settings/
.factorypath
.apt_generated/

# -------------------------
# NetBeans
# -------------------------
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# Sistema
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Arquivos sensíveis
# -------------------------
.env

# -------------------------
# Outros
# -------------------------
*.log
